<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query result</title>
</head>
<body>
    <main>
        <h1>Customer Data</h1>
        <p><span >Customer id:</span><span><%= result.customerId %></span></p>
        <p>Name: <%= result.firstname %> <%= result.lastname %></p>
        <p>Favorite iceCream is <%= result.favouriteIceCream %></p>
        <p>Class: <%= result.customerclass %></p>
        <a href="/"><button>Menu</button></a>
    </main>   
</body>
</html>
