<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/Styles.css">
</head>
<body>
    <main>
        <h1><%= header1 %></h1>
        <form action="<%= action %>" method="POST">
            <div>
                <p>
                    <label for="customerId">Customer Id:</label>
                    <input type="text" id="customerId" name="customerId" size="5"
                    value="<%= customerId.value %>" <%= customerId.readonly %> >
                </p>
                <p>
                    <label for="firstname">Firstname:</label>
                    <input type="text" id="firstname" name="firstname" size="25"
                    value="<%= firstname.value %>" <%= firstname.readonly %> >
                </p>
                <p>
                    <label for="lastname">Lastname:</label>
                    <input type="text" id="lastname" name="lastname" size="25"
                    value="<%= lastname.value %>" <%= lastname.readonly %> >
                </p>
                <p>
                    <label for="favouriteIceCream">Ice Cream:</label>
                    <input type="text" id="favouriteIceCream" name="favouriteIceCream" size="25"
                    value="<%= favouriteIceCream.value %>" <%= favouriteIceCream.readonly %> >
                </p>
                <p>
                    <label for="customerclass">Customer Class:</label>
                    <input type="text" id="customerclass" name="customerclass" size="25"
                    value="<%= customerclass.value %>" <%= customerclass.readonly %> >
                </p>
            </div>
            <button type="submit">Submit</button>
        </form>
        <a href="/"><button>Menu</button></a>
    </main>
</body>
</html>